.swiper-slide-active { 
    & .my-slide { 
        @apply duration-500 scale-110 ;
        &-block {
            @apply hover:scale-125;
            border-radius: 35%;
        }
    }
}

.my-slide { 
    height: 60vh;
    width: 80vw;
    @apply m-auto flex justify-center items-center w-4/5;
    &-block {
        @apply shadow-2xl hover:shadow-sm hover:font-extrabold w-65vw h-40vh px-5 py-8 duration-500 justify-center flex items-center;
        border-radius: 50%;
    }
}
